{% extends "base.html.twig" %}

{% block Copter %}

	<!--
									Author: W3layouts
									Author URL: http://w3layouts.com
									License: Creative Commons Attribution 3.0 Unported
									License URL: http://creativecommons.org/licenses/by/3.0/
									-->
	<!DOCTYPE html>
	<html lang="zxx">

		<style>
			label {
				display: block;
				margin-bottom: 5px;
			}
		</style>

		<body>

			<!-- //banner-2 -->
			<!-- page -->

			<!-- //page -->
			<!-- checkout page -->

				<div class="privacy"> <div class="container">
					<form
						action="{{path('createOrder')}}" method="post">
						<!-- tittle heading -->
						<h3 class="tittle-w3l">Checkout
							<span class="heading-style">
								<i></i>
								<i></i>
								<i></i>
							</span>
						</h3>
						<!-- //tittle heading -->
						<div class="checkout-right">

							{% if items | length >0 %}
								<div class="table-responsive">
									<table class="timetable_sub">
										<thead>
											<tr>
												<th>Product</th>
												<th>Quality</th>
												<th>Product Name</th>
												<th>Price</th>
												<th>Remove</th>
											</tr>
										</thead>

										<tr>
											{% for item in items %}
												<td class="invert-image">
													<a href="#">
														<img src="public/images/{{item.product.url}}" alt=" " class="img-responsive">
													</a>
												</td>
												<td class="invert">
													<div class="quantity">
														<div class="quantity-select">
															<a href="{{path('deleteQuantity', {'id': item.product.idproduct})}}" class="entry value-minus">&nbsp;</a>
															<div class="entry value">
																<span>{{item.quantity}}</span>
															</div>
															<a href="{{path('addQuantity', {'id': item.product.idproduct})}}" class="entry value-plus active">&nbsp;</a>
														</div>
													</div>
												</td>
												<td class="invert">{{item.product.name}}</td>
												<td class="invert">{{item.product.price}}
													€</td>

												<td class="invert">
													<a href="{{path('removeProduct', {'id': item.product.idproduct}) }}" class="glyphicon glyphicon-remove-circle" style="color:black"></td>
												</td>
											</tr>
										{% endfor %}
										<tfoot>
											<td colspan="3" class="text-right">
												Total TTC:
											</td>
											<td><input type="hidden" name="prixTTC" value="{{total * 1.20}}">{{total  * 1.20}}
												€</td>
										</tfoot>
										<tfoot>
											<td colspan="3" class="text-right">
												Total HT:
											</td>
											<td><input type="hidden" name="prixHT" value="{{total}}">{{total}}
												€</td>
										</tfoot>
									</table>

								</tbody>
							</table>
						</div>
					{% else %}
						<p>Le panier est vide</p>
					{% endif %}
					<br>

					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-3">

								<h3 class="agileinfo_sign">Adresse de Livraison</h3>
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<label>
								 
									{% for address  in adressLivraison %}
										<input type="radio" name="Livraison" value="{{address.idaddress}}">
										{{address.address}}
										{{address.cp}}
										{{address.city}}
									</label>
									{% else %}

									<p> Veuillez vous connecter pour afficher ou créer une adresse</p>
								{% endfor %}
								{% endif %}
								<br>

							</div>
							<div class="col-md-6 col-sm-3">

								<h3 class="agileinfo_sign">Adresse de Facturation</h3>
								{% for address  in adressFacturation %}
									<label>

										<input type="radio" name="Facturation" value="{{address.idaddress}}" checked>
										{{address.address}}
										{{address.cp}}
										{{address.city}}

									</label>
								{% endfor %}
								<br>


							</div>
						</div>
					</div>

				</div>
			</div>
			<form action="{{path('createOrder')}}" method="post">
				<div class="snipcart-details input.button">
					<input type="submit" name="submit" value="Passer la commande" class="button"/>
				</form>
				</div>
			
		</body>
	</html>


</form></div></div><!-- js-files --><!-- jquery --><script src="js/jquery-2.1.4.min.js"></script><!-- //jquery --><!-- for bootstrap working --><script src="js/bootstrap.js"></script><!-- //for bootstrap working --><!-- //js-files --></body></html>{% endblock %}
