{% extends "base.html.twig" %}

{% block Copter %}



	<!-- top Products -->
	<div class="ads-grid">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Nos produits
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- product left -->
			<div class="side-bar col-md-3">

			<div class="search-hotel">
			<form action="{{path('indexFilterName')}}" method="post">
					<h3 class="agileits-sear-head">Recherche</h3>
			     	<input type="search" id="search" placeholder="Nom du produit" name="search" required="">
					 <button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						</button>
			</form>	
		    </div>
			
				<!-- price range -->
			<div class="range">
					<h3 class="agileits-sear-head">Price range</h3>
				<form action="{{path('indexFilterPrice')}}" method="post">
					
			     	<input type="text" name="lowprice" required="" size="2">€ &nbsp;- &nbsp;<input type="text" name="highprice" required="" size="2">€
					 &nbsp;<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						   </button>
					
			</form>	
			</div>
				<!-- //price range -->
			
				<!-- cuisine -->
				<div class="left-side">
				<form action="{{path('indexFilterCategory')}}" method="post">
					<h3 class="agileits-sear-head">Catégorie</h3><button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						   </button>
					
					<ul>
					<br>
					{% for cat  in category %}
						<li><label>
							<input type="radio" name="categories"  value="{{cat.idcategory}}">
							<span class="span">{{ cat.name}}</span>
							</label>
						</li>
					{% endfor %}
					</ul>
				</form>
				</div>
				<!-- //cuisine -->

				<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
					<form action="{{path('index')}}" method="post">
						<fieldset>
						<input type="submit" name="submit" value="Réinitialser" class="button" />
						 </fieldset>
						</form>
				</div>
				
			</div>
			<!-- //product left -->
			<!-- product right -->
			<div class="agileinfo-ads-display col-md-9" id="hide">
			
				<div class="wrapper">
					<!-- section article  -->
					
					<div >
						{% for article  in articles %}
						<div class="col-md-4 product-men" id="idd">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img src="images/{{article.url}}" alt="">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="{{path('details_product',{'id':article.idproduct})}}" class="link-product-add-cart">Quick View</a>
										</div>
									</div>
									
								</div>
								<div class="item-info-product "  id="mydiv">
									<h4>
										<a href="">{{article.name}} </a>
									</h4>
									<div class="info-product-price">
										<span class="item_price">{{article.price}}€ </span>
									
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="{{path('addProduct', {'id': article.idproduct}) }}" method="post">
											<fieldset>
												
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>

						{% endfor %}
						
						
						<div class="clearfix"></div>
					</div>
					
				
					<!-- //fourth section (noodles) -->
				</div>
			</div>
			<!-- //product right -->
		</div>
	</div>
	<!-- //top products -->
	
	
	

{% endblock %}